$transitionSpeed: 0.25s;
$background-page: #fff;
$background-navigation: #eee;
$background-section: #f5f5f5;
$bordercolor-divider: #d5d7db;
$background-grey: #ddd;
$color-severity-red: #c5395f;
$color-severity-green: #49b649;
$fontcolor-active: #333;
$fontcolor-default: #444;
$fontcolor-muted: #777;
$fontcolor-disabled: #999;
$chartcolor-muted: #999;
$primaryFont: ProtoFontRegular;
$primarycolor-action: #0086FF;